.modal-filter {
    position: relative;
    button{
        border-radius: 20px;
    }
    .modal{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        background-color: white;
        z-index: 999;
        margin: 20px 0 0 10px;
        position: absolute;
        .modalButtons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .resetButton{
                background-color: white;
                color: gray;
                margin-left: 20px;
            }
            .applyButton{
                background-color: #005FA3;
                color: white;
                margin-right: 20px;
            }
        }
    }
}
