.location{
    padding: 15px;
    h4{
        margin: 0px;
    }
    p{
        font-size: 15px;
    }
    .slider{
        margin-top: 20px;
    }
    .inputNumber{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}