.guestScore{
    .point{
        ul{
            margin-top: 20px;
            list-style-type: none;
            li{
                display: flex;
                justify-content: left;
                align-items: center;
                Button{
                  width: 50px;
                }
                .selected{
                  background-color: #C4E3F4;
                  span{
                    color: darkblue;
                  }
                }
             p{
                margin-left: 15px;
             }
            }
          }
        }
}