.footer{
    height: 400px;
    background-color: #0A1121;
    color: white;
    box-sizing: border-box;
    margin-top: 400px;
    .footerTop{
    width: 930px;
    padding: 50px 0 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footerIcon{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    }
    .footerSelect{
    margin-left:150px;
    Select{
        background-color: #0A1121;
        color: white;
    }
    }
    .footerText{
        margin: 30px 30px 30px 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .textLeft{
            width: 500px;
            display: flex;
            .aboutLinks , .helpLinks{
                ul{
                    list-style-type: none;
                    li{
                        padding: 2px;
                        font-size: 14px;
                    }
                }
            }
        }
       .textRight{
        width: 500px;
        .footerSignUp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            Input{
                width: 150px;
                border: none;
                border-bottom: 1px solid #007CC2;
                background-color: #0A1121;
                color: white;
            }
            Button{
                background-color: #007CC2;
                color: white;
            }
        }
        p{
            font-size: 12px;
            color: gray;
        }
       }
     }
}